Repository teoat/reconciliation-platform-378: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "tsc --noEmit --skipLibCheck"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.rs": ["cargo fmt --check", "cargo clippy -- -D warnings"],
  "*.{css,scss}": ["prettier --write"],
  "*.{html}": ["prettier --write"]
}

feat: Add jsx-a11y linting and fix type errors
  frontend/RECOMMENDATIONS_COMPLETION_STATUS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/services/apiClient.test.ts
  frontend/src/components/AIDiscrepancyDetection.tsx
  frontend/src/components/AdvancedFilters.tsx
  frontend/src/components/AdvancedVisualization.tsx
  frontend/src/components/CollaborationPanel.tsx
  frontend/src/utils/errorExtractionAsync.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A35
  DIAGNOSTIC_REPORT.md
  frontend/COMPREHENSIVE_FIXES_PLAN.md
  frontend/FINAL_RECOMMENDATIONS_STATUS.md
  frontend/LINTING_FIXES_PROGRESS.md
  frontend/RECOMMENDATIONS_COMPLETION_STATUS.md
  frontend/package-lock.json
  frontend/src/__tests__/services/apiClient.test.ts
  frontend/src/components/AIDiscrepancyDetection.tsx
  frontend/src/components/AdvancedFilters.tsx
  frontend/src/components/AdvancedVisualization.tsx
  frontend/src/components/CollaborationPanel.tsx
  frontend/src/components/EnhancedDropzone.tsx
  frontend/src/utils/errorExtractionAsync.ts
  frontend/tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Refactor: Improve type safety and fix linting errors
  MERGE_COMPATIBILITY_REPORT.md
  frontend/RECOMMENDATIONS_COMPLETION_STATUS.md
  frontend/src/components/AnalyticsDashboard.tsx
  frontend/src/components/ApiDocumentation.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update backend/src/handlers/mod.rs
  backend/src/handlers/mod.rs
Due: cargo fmt --check, cargo clippy -- -D warnings

Update AUDIT_REPORT.md
  AUDIT_REPORT.md
Due: prettier --write

Update frontend/src/services/apiClient/utils.ts
  frontend/src/services/apiClient/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A38
  backend/tests/COMPLETION_REPORT.md
  backend/tests/api_endpoint_tests.rs
  backend/tests/e2e_tests.rs
  backend/tests/reconciliation_api_tests.rs
  backend/tests/security_tests.rs
  backend/tests/test_utils.rs
Due: prettier --write, cargo fmt --check, cargo clippy -- -D warnings

A40
  backend/tests/e2e_tests.rs
  backend/tests/mod.rs
  backend/tests/security_tests.rs
  backend/tests/test_utils.rs
Due: cargo fmt --check, cargo clippy -- -D warnings

A41
  backend/src/utils/schema_verification.rs
  backend/tests/api_endpoint_tests.rs
  backend/tests/e2e_tests.rs
  backend/tests/security_tests.rs
  backend/tests/test_utils.rs
Due: cargo fmt --check, cargo clippy -- -D warnings

Update utils/test-helpers.ts
  utils/test-helpers.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A44
  backend/src/handlers/mod.rs
  backend/src/handlers/security.rs
  backend/src/services/reconciliation/job_management.rs
  backend/src/services/reconciliation/processing.rs
  backend/src/services/reconciliation/service.rs
  docs/UNIMPLEMENTED_TODOS_AND_RECOMMENDATIONS.md
  docs/features/onboarding/onboarding-implementation-todos.md
  docs/operations/AGENT_TODO_ASSISTANCE_SUMMARY.md
  docs/operations/ONBOARDING_TODOS_COMPLETION_SUMMARY.md
  docs/operations/TODO_CONFLICT_RESOLUTION_PLAN.md
  docs/security/CSP_POLICY.md
  docs/testing/TEST_TEMPLATES_GUIDE.md
  frontend/src/services/helpContentService.ts
  frontend/src/utils/emptyStateDetection.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

A51
  COMPREHENSIVE_DIAGNOSTIC_REPORT.md
  IMPLEMENTATION_CHECKLIST.md
  IMPLEMENTATION_VERIFICATION.md
  SECRET_CONSOLIDATION_SUMMARY.md
  backend/src/handlers/auth.rs
  backend/src/main.rs
  backend/src/middleware/security/auth_rate_limit.rs
  backend/src/models/schema.rs
  backend/src/models/schema/secrets.rs
  backend/src/services/email.rs
  backend/src/services/mod.rs
  backend/src/services/secret_manager.rs
  backend/src/services/validation/mod.rs
  docker-compose.staging.yml
  docs/architecture/AUTOMATIC_SECRET_MANAGEMENT.md
  frontend/src/components/DataProvider.tsx
  frontend/src/utils/indonesianDataProcessor.ts
  k8s/optimized/base/secrets.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

B1
  ACTION_PLAN_COMPLETION_SUMMARY.md
  ACTION_PLAN_PROGRESS.md
  COMPREHENSIVE_DIAGNOSTIC_REPORT.md
  backend/src/handlers/auth.rs
  backend/src/models/mod.rs
  backend/src/models/schema/users.rs
  backend/src/services/user/mod.rs
  docs/diagnostics/AUTHENTICATION_DIAGNOSTIC.md
  docs/operations/BACKEND_ERRORS_FIXED.md
  docs/operations/WARNINGS_FIXED_SUMMARY.md
  frontend/src/components/collaboration/CollaborationDashboard.tsx
  frontend/src/components/ui/FormField.tsx
  frontend/src/components/ui/Menu.tsx
  frontend/src/components/ui/Tooltip.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

b2
  backend/src/test_utils.rs
  docs/diagnostics/AUTHENTICATION_FIXES_SUMMARY.md
  frontend/src/components/collaboration/CollaborationDashboard.tsx
  frontend/src/components/forms/index.tsx
  frontend/src/components/hooks/useWebSocketIntegration.ts
  frontend/src/components/pages/ProjectEdit.tsx
  frontend/src/services/api/mod.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

b4
  backend/Cargo.toml
  docs/deployment/PRODUCTION_DEPLOYMENT_ORCHESTRATION.md
  docs/operations/MCP_SERVERS_DIAGNOSTIC_AND_PROPOSAL.md
  docs/project-management/DEPLOYMENT_READY.md
  docs/project-management/FINAL_IMPLEMENTATION_STATUS.md
  docs/project-management/IMPLEMENTATION_COMPLETE_SUMMARY.md
  docs/project-management/MASTER_STATUS_AND_CHECKLIST.md
  frontend/src/components/APIDevelopment.tsx
  frontend/src/components/AutoSaveRecoveryPrompt.tsx
  frontend/src/components/CollaborationPanel.tsx
  frontend/src/components/CollaborativeFeatures.tsx
  frontend/src/components/EnterpriseSecurity.tsx
  frontend/src/components/ProgressIndicators.tsx
  frontend/src/components/SkeletonComponents.tsx
  frontend/src/components/WorkflowOrchestrator.tsx
  frontend/src/components/ui/CircuitBreakerStatus.tsx
  frontend/src/components/ui/ErrorCodeDisplay.tsx
  frontend/src/components/ui/ErrorHistory.tsx
  frontend/src/types/typescript.ts
  frontend/src/utils/common/dateFormatting.ts
  frontend/src/utils/common/performance.ts
  frontend/src/utils/index.ts
  frontend/src/utils/indonesianDataProcessor.ts
  frontend/src/utils/performanceMonitoring.tsx
  mcp-server/package.json
  mcp-server/src/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

feat(frenly): Add consolidated FrenlyProvider component
  frontend/src/components/frenly/FrenlyProvider.consolidated.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs(sync): Add comprehensive GitHub-local synchronization proposal
  docs/operations/GITHUB_LOCAL_SYNC_PROPOSAL.md
  docs/operations/GITHUB_LOCAL_SYNC_QUICK_REFERENCE.md
  scripts/sync-github-local.sh
Due: prettier --write

feat(accessibility): Improve ARIA attributes and button labels
  frontend/src/components/CollaborationPanel.tsx
  frontend/src/components/CollaborativeFeatures.tsx
  frontend/src/components/reconciliation/components/JobList.tsx
  frontend/src/components/ui/DataTable.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

feat(accessibility): Improve WorkflowOrchestrator ARIA attributes
  frontend/src/components/WorkflowOrchestrator.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: Apply critical fixes from stash
  agents/guidance/FrenlyGuidanceAgent.ts
  backend/tests/data_source_service_tests.rs
  frontend/src/App.tsx
  frontend/src/components/FrenlyProvider.tsx
  frontend/src/components/frenly/FrenlyAIProvider.tsx
  frontend/src/components/frenly/FrenlyProvider.consolidated.tsx
  frontend/src/components/frenly/FrenlyProvider.tsx
  frontend/src/components/frenly/index.ts
  frontend/src/components/help/HelpSearch.tsx
  frontend/src/components/reconciliation/components/JobList.tsx
  frontend/src/features/integration/frenly.ts
  frontend/src/features/integration/orchestration-integration.ts
  frontend/src/features/integration/sync.ts
  frontend/src/features/registry.ts
  frontend/src/orchestration/PageFrenlyIntegration.ts
  frontend/src/services/frenlyAgentService.ts
  frontend/src/services/helpContentService.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

docs: Add completion reports and diagnostics
  docs/features/FEATURE_REGISTRY_INTEGRATION_COMPLETE.md
  docs/features/frenly-ai/FRENLY_OPTIMIZATION_COMPLETE.md
  docs/operations/GITHUB_LOCAL_SYNC_COMPLETE.md
  docs/operations/PRE_BUILD_ERRORS_DIAGNOSTIC.md
  docs/operations/SYNC_NOTES_DIAGNOSTIC_AND_FIXES.md
Due: prettier --write

feat(accessibility): Final accessibility improvements
  frontend/src/components/WorkflowOrchestrator.tsx
  frontend/src/components/ui/DataTable.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: Add sync notes fixes completion report
  docs/operations/SYNC_NOTES_FIXES_COMPLETE.md
Due: prettier --write

feat(accessibility): Complete CollaborativeFeatures accessibility
  frontend/src/components/CollaborativeFeatures.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

refactor(joblist): Minor cleanup and improvements
  frontend/src/components/reconciliation/components/JobList.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

refactor(workflow): Remove unnecessary type assertion
  frontend/src/components/WorkflowOrchestrator.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: Add next steps completion report
  docs/operations/NEXT_STEPS_COMPLETE.md
Due: prettier --write

refactor(joblist): Clean up merge conflicts and improve type safety
  frontend/src/components/reconciliation/components/JobList.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

refactor: Clean up unused imports and improve code quality
  frontend/src/components/CollaborativeFeatures.tsx
  frontend/src/components/WorkflowOrchestrator.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: Add final synchronization completion report
  docs/operations/SYNCHRONIZATION_COMPLETE.md
Due: prettier --write
