Repository teoat/reconciliation-platform-378: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "tsc --noEmit --skipLibCheck"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.rs": ["cargo fmt --check", "cargo clippy -- -D warnings"],
  "*.{css,scss}": ["prettier --write"],
  "*.{html}": ["prettier --write"]
}

c4
  frontend/src/components/ui/Modal.tsx
  frontend/src/types/index.ts
  scripts/deployment/fix-all-secrets.sh
  scripts/deployment/sync-secrets.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

d6
  backend/src/main.rs
  backend/src/services/password_manager.rs
  claude-desktop-config.json
  docs/analysis/COMPREHENSIVE_SSOT_DIAGNOSTIC_REPORT.md
  docs/analysis/PASSWORD_SYSTEM_ANALYSIS.md
  docs/analysis/PASSWORD_SYSTEM_DEEP_ANALYSIS.md
  docs/analysis/PASSWORD_SYSTEM_FINAL_STATUS.md
  docs/analysis/PASSWORD_SYSTEM_RESOLUTION.md
  mcp-server/src/shared/artifacts.ts
  mcp-server/src/shared/env.ts
  mcp-server/src/shared/errors.ts
  mcp-server/src/shared/redis.ts
  mcp-server/src/shared/telemetry.ts
  scripts/check-password-system.sh
  scripts/fix-password-system.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

feat: Refactor authentication, update API client interceptors, rename MCP servers to Antigravity, and improve Vite chunking.
  claude-desktop-config.json
  frontend/src/App.tsx
  frontend/src/config/AppConfig.ts
  frontend/src/contexts/index.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useBetterAuth.tsx
  frontend/src/lib/auth-client.ts
  frontend/src/orchestration/WorkflowOrchestrator.ts
  frontend/src/services/apiClient/index.ts
  frontend/src/services/apiClient/interceptors.ts
  frontend/src/services/apiClient/types.ts
  frontend/src/services/interceptors.ts
  frontend/src/services/requestManager.ts
  frontend/src/store/asyncThunkUtils.ts
  frontend/src/types/api.ts
  frontend/vite.config.ts
  mcp-server/README.md
  mcp-server/package.json
  mcp-server/src/agent-coordination/config.ts
  mcp-server/src/lib/config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

feat: Introduce new Antigravity services, add diagnostic scripts, and standardize logging across the frontend and MCP server.
  claude-desktop-config.json
  frontend/src/components/cashflow/CashflowTable.tsx
  frontend/src/services/aiService.ts
  frontend/src/services/retryService.ts
  frontend/src/utils/pwaUtils.ts
  mcp-server/README.md
  mcp-server/frontend-diagnostics/package.json
  mcp-server/frontend-diagnostics/src/index.ts
  mcp-server/frontend-diagnostics/tsconfig.json
  mcp-server/playwright/package.json
  mcp-server/playwright/src/index.ts
  mcp-server/playwright/tsconfig.json
  mcp-server/src/lib/script-tools.ts
  scripts/apply-db-indexes.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

feat: Reconfigure MCP servers, add new frontend diagnostics and security API, and update verification scripts.
  .agent/workflows/run-frontend-diagnostics.md
  .cursor/MCP_COMPREHENSIVE_RECONFIGURATION.md
  .cursor/MCP_RECONFIGURATION_SUMMARY.md
  .cursor/mcp.json
  FRONTEND_COMPREHENSIVE_DIAGNOSTIC_REPORT.md
  auth-server/env.example
  auth-server/src/auth.ts
  auth-server/src/config.ts
  backend/src/middleware/better_auth.rs
  backend/src/middleware/dual_auth.rs
  backend/src/services/structured_logging.rs
  backend/src/websocket/session.rs
  backend/src/websocket/types.rs
  claude-desktop-config.json
  docs/project-management/FRONTEND_UI_UX_PLAYWRIGHT_DIAGNOSTIC.md
  frontend/env.example
  frontend/src/constants/passwordPolicy.ts
  frontend/src/orchestration/pages/SecurityPageOrchestration.ts
  frontend/src/pages/AdjudicationPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/pages/SummaryPage.tsx
  frontend/src/pages/VisualizationPage.tsx
  frontend/src/services/api/mod.ts
  frontend/src/services/api/security.ts
  frontend/src/types/index.ts
  frontend/src/types/security.ts
  frontend/src/utils/common/validation.ts
  scripts/apply-db-indexes.sh
  scripts/run-frontend-diagnostics.sh
  scripts/verify-mcp-config.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

perf: Add frontend virtualization, significantly improve Playwright diagnostic results, and refactor backend middleware imports.
  backend/.cargo/config.toml
  backend/src/middleware/mod.rs
  docs/project-management/DIAGNOSTIC_SUMMARY_AND_ACTION_PLAN.md
  docs/project-management/FRONTEND_UI_UX_PLAYWRIGHT_DIAGNOSTIC.md
  docs/project-management/QUICK_WINS_SUMMARY.md
  docs/project-management/SESSION_COMPLETION_SUMMARY.md
  docs/troubleshooting/BACKEND_STACK_OVERFLOW_FIX.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/pages/VisualizationPage.tsx
  frontend/src/services/consolidated/dataService.ts
  package.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

f3
  .cursor/docker-services.json
  .cursor/docker-sync-status.json
  .cursor/mcp.json
  backend/Dockerfile
  code-splitting-report.json
  docs/grafana-dashboard-circuit-breakers.json
  fix-docker-config.json
  frontend/Dockerfile
  frontend/bundle-report.json
  frontend/devtools-report.json
  frontend/src/App.optimizely.tsx
  frontend/src/App.tsx
  gitleaks-report.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update frontend/src/utils/fileValidation.ts
  frontend/src/utils/fileValidation.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update docs/diagnostics/SYNCHRONIZATION_REPORT_20250523.md
  docs/diagnostics/SYNCHRONIZATION_REPORT_20250523.md
Due: prettier --write

Update logger.ts
  frontend/src/services/logger.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update apiClient.ts
  frontend/src/services/apiClient.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update dataService.ts
  frontend/src/services/utils/dataService.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update ariaLiveRegionsService.ts
  frontend/src/services/ariaLiveRegionsService.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update LoadingSpinner.tsx
  frontend/src/components/ui/LoadingSpinner.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update helpers.ts
  e2e/helpers.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update comprehensive-features.spec.ts
  e2e/comprehensive-features.spec.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck
