Repository teoat/reconciliation-platform-378: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "tsc --noEmit --skipLibCheck"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.rs": ["cargo fmt --check", "cargo clippy -- -D warnings"],
  "*.{css,scss}": ["prettier --write"],
  "*.{html}": ["prettier --write"]
}

Add workflow to auto-generate package-lock.json on PRs with audit fallback instructions (#26)
  .github/workflows/audit-fallback-instructions.md
  .github/workflows/ensure-package-lock.yml
Due: prettier --write

Update .github/workflows/ensure-package-lock.yml
  .github/workflows/ensure-package-lock.yml
Due: prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml
Due: prettier --write

Update .github/workflows/comprehensive-testing.yml
  .github/workflows/comprehensive-testing.yml
Due: prettier --write

Update frontend/src/components/DataAnalysis.tsx
  frontend/src/components/DataAnalysis.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update frontend/src/utils/indonesianDataProcessor.ts
  frontend/src/utils/indonesianDataProcessor.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update frontend/src/components/CollaborationPanel.tsx
  frontend/src/components/CollaborationPanel.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update frontend/src/components/EnhancedIngestionPage.tsx
  frontend/src/components/EnhancedIngestionPage.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update DIAGNOSTIC_COMPLETION_STATUS.md
  DIAGNOSTIC_COMPLETION_STATUS.md
Due: prettier --write

Update FRENLY_AI_ARCHITECTURE_DIAGRAM.md
  FRENLY_AI_ARCHITECTURE_DIAGRAM.md
Due: prettier --write

A2
  ADVANCED_DIAGNOSTIC_FRAMEWORK_V2.md
  DIAGNOSTIC_FRAMEWORK_V1_COMPREHENSIVE.md
  backend/src/services/database_sharding.rs
  infrastructure/docker/Dockerfile.backend.optimized
Due: prettier --write, cargo fmt --check, cargo clippy -- -D warnings

security: fix critical vulnerabilities (TODO-003)
  backend/Cargo.toml
  backend/src/config/mod.rs
  reports/security-audit-report.md
  reports/security-audit.md
Due: prettier --write, cargo fmt --check, cargo clippy -- -D warnings

docs: Day 1 acceleration summary and progress tracking
  DAY1_SUMMARY.md
  PROGRESS_TRACKER.md
Due: prettier --write

a3
  RAPID_PROGRESS_LOG.md
Due: prettier --write

docs: comprehensive session summary
  EXECUTION_PLAN_TECHNICAL_ONLY.md
  SESSION_SUMMARY.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/vite.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

perf: implement route-based code splitting and fix vite config
  frontend/vite.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

perf: optimize Docker images with advanced multi-stage builds
  RAPID_PROGRESS_LOG.md
  infrastructure/docker/Dockerfile.backend.optimized.v2
  infrastructure/docker/Dockerfile.frontend.optimized.v2
  infrastructure/docker/OPTIMIZATION_GUIDE.md
  infrastructure/docker/compare-docker-optimizations.sh
Due: prettier --write

docs: session summary and comprehensive execution plan
  SESSION_SUMMARY_NOV16.md
Due: prettier --write

perf: implement React.memo optimizations and performance hooks
  frontend/REACT_PERFORMANCE_GUIDE.md
  frontend/src/components/reconciliation/components/JobList.tsx
  frontend/src/hooks/usePerformanceOptimizations.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: comprehensive technical completion summary
  COMPLETION_SUMMARY_TECHNICAL.md
Due: prettier --write

deploy: integrate optimized v2 Dockerfiles into docker-compose
  docker-compose.yml
Due: prettier --write

A4
  .deployment/NEXT_STEPS_COMPLETION_REPORT.md
  backend/src/services/reconciliation/processing.rs
  infrastructure/docker/Dockerfile.frontend.optimized.v2
Due: prettier --write, cargo fmt --check, cargo clippy -- -D warnings

deploy: complete integration and successful deployment of optimized images
  FRONTEND_TESTING_GUIDE.md
  infrastructure/docker/Dockerfile.backend.optimized.v2
  package.json
  playwright-simple.config.ts
  playwright.config.ts
  test-frontend-manual.js
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: deployment complete summary and verification
  DEPLOYMENT_COMPLETE.md
Due: prettier --write

perf: comprehensive frontend performance analysis complete
  COMPREHENSIVE_OPTIMIZATION_REPORT.md
  DOCKER_OPTIMIZATION_COMPLETE.md
  FRONTEND_CONFIGURATION_SUMMARY.md
  FRONTEND_PERFORMANCE_ANALYSIS.md
  NEXT_STEPS_EXECUTED.md
  docker-compose.yml
  dockerfile-backup-20251116-123420.tar.gz
  infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile.backend
  infrastructure/docker/Dockerfile.backend.fast
  infrastructure/docker/Dockerfile.backend.optimized
  infrastructure/docker/Dockerfile.frontend
  infrastructure/docker/Dockerfile.frontend.fast
  infrastructure/docker/Dockerfile.frontend.optimized
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  scripts/analyze-frontend-devtools.js
  scripts/analyze-frontend-simple.js
  scripts/analyze-redundant-files.sh
  scripts/backup-database.sh
  scripts/backup-redis.sh
  scripts/health-check-all.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update test-helpers.ts
  utils/test-helpers.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck
