Repository teoat/reconciliation-platform-378: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "tsc --noEmit --skipLibCheck"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.rs": ["cargo fmt --check", "cargo clippy -- -D warnings"],
  "*.{css,scss}": ["prettier --write"],
  "*.{html}": ["prettier --write"]
}

Update test-helpers.ts
  utils/test-helpers.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: comprehensive diagnostic status + next steps
  COMPREHENSIVE_DIAGNOSTIC_STATUS.md
  FINAL_STATUS_REPORT.md
  INTEGRATION_SYNC_REPORT.md
  LOGSTASH_DIAGNOSTIC_REPORT.md
  REDEPLOYMENT_COMPLETE.md
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/components/ApiDocumentation.tsx
  frontend/src/services/apiClient/index.ts
  frontend/src/services/webSocketService.ts
  infrastructure/docker/Dockerfile.backend
  scripts/full-redeploy.sh
  scripts/port-standardization.md
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: critical status update and path forward
  CRITICAL_STATUS_UPDATE.md
  LOGSTASH_DIAGNOSTIC_REPORT.md
  LOGSTASH_FIXES_COMPLETE.md
  QUICK_REFACTOR_SUMMARY.md
  REFACTOR_PLAN.md
  docker-compose.yml
  infrastructure/docker/Dockerfile.backend
  logging/logstash/logstash.yml
  logging/logstash/pipeline.conf
  types/ingestion/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A5
  backend/src/main.rs
  scripts/split-types.sh
  scripts/weekly-security-audit.sh
  types/SPLIT_PLAN.md
  types/ingestion/index.ts
  types/reconciliation/index.ts
  types/user/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

feat: quick wins toward 100/100 health score
  backend/src/main.rs
  types/common/index.ts
  types/project/data.ts
  types/project/index.ts
  types/websocket/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

docs: final status - 100/100 achieved! 🎉
  FINAL_100_STATUS.md
  REFACTORING_COMPLETION_SUMMARY.md
  REFACTOR_PLAN.md
  types/index.ts
  types/project/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: comprehensive agent acceleration guide
  AGENT_ACCELERATION_GUIDE.md
  BACKEND_DIAGNOSIS.md
  CODE_QUALITY_AND_TESTING_TODOS.md
  QUICK_TODO_REFERENCE.md
  REFACTORING_PHASE1_COMPLETE.md
  TODOS_AND_RECOMMENDATIONS_COMPLETE.md
  backend/src/middleware/security/rate_limit.rs
  infrastructure/docker/Dockerfile.backend
  pages/IngestionPage.tsx
  pages/ReconciliationPage.tsx
  utils/ingestion/columnInference.ts
  utils/ingestion/dataTransform.ts
  utils/ingestion/fileTypeDetection.ts
  utils/ingestion/index.ts
  utils/ingestion/qualityMetrics.ts
  utils/ingestion/validation.ts
  utils/reconciliation/filtering.ts
  utils/reconciliation/sorting.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

docs: welcoming README for next agent
  BACKEND_STABILIZATION_SUMMARY.md
  README_FOR_NEXT_AGENT.md
  frontend/src/components/AdvancedFilters.tsx
  frontend/src/components/ApiDocumentation.tsx
  frontend/src/pages/IngestionPage.tsx
  frontend/src/pages/ReconciliationPage.tsx
  types/common/index.ts
  utils/reconciliation/index.ts
  utils/reconciliation/matching.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: comprehensive agent handoff summary
  AGENT_HANDOFF_SUMMARY.md
  TODOS_AND_RECOMMENDATIONS_COMPLETE.md
  components/ingestion/DataQualityPanel.tsx
  infrastructure/docker/Dockerfile.backend
  infrastructure/docker/entrypoint.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs: quick current status reference + final summary
  CURRENT_STATUS.md
  components/ingestion/ValidationResults.tsx
  infrastructure/docker/Dockerfile.backend
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

a10
  .cursor/mcp.json
  PHASE_COMPLETION_STATUS.md
  TODO_DIAGNOSIS_REPORT.md
Due: prettier --write

Refactor: Update ports and WebSocket integration
  docker-compose.yml
  frontend/package.json
  frontend/src/components/reconciliation/hooks/useReconciliationJobs.ts
  frontend/src/hooks/useWebSocketIntegration.ts
  package.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A13
  AGENT_ACCELERATION_TASKS.md
  ALL_ERRORS_FIXED.md
  AUDIT_FIXES_SUMMARY.md
  BACKEND_DIAGNOSTIC_REPORT.md
  BACKEND_ERRORS_FIXES_COMPLETE.md
  BACKEND_RUNNING_SUMMARY.md
  CRITICAL_FIXES_COMPLETE.md
  CRITICAL_FIXES_SOLUTION.md
  FRONTEND_FINESSE_AUDIT_REPORT.md
  FULL_STACK_AUDIT_REPORT.md
  PASSWORD_MANAGER_ACCELERATED_IMPLEMENTATION.md
  PASSWORD_MANAGER_COMPREHENSIVE_INVESTIGATION_AND_PROPOSAL.md
  PASSWORD_MANAGER_IMPLEMENTATION_STATUS.md
  backend/src/config/mod.rs
  backend/src/handlers/auth.rs
  backend/src/main.rs
  backend/src/models/mod.rs
  backend/src/services/email.rs
  backend/src/services/performance/query_optimizer.rs
  backend/src/services/user/account.rs
  backend/src/services/user/mod.rs
  backend/src/services/validation/password.rs
  backend/src/services/validation/types.rs
  frontend/CSP_IMPROVEMENTS_COMPLETE.md
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/ApiDocumentation.tsx
  frontend/src/components/frenly/ConversationalInterface.tsx
  frontend/src/config/AppConfig.ts
  frontend/src/main.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/services/apiClient/utils.ts
  frontend/src/services/secureStorage.ts
  frontend/src/services/security/csp.ts
  frontend/vite-plugin-csp-nonce.ts
  frontend/vite.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

A18
  .cursor/PENDING_IMPROVEMENTS.md
  .cursor/rules/RULES_INDEX.md
  .cursor/rules/code_review.mdc
  .cursor/rules/typescript_patterns.mdc
  ALL_IMPROVEMENTS_COMPLETE.md
  FOLDER_SIMPLIFICATION_SUMMARY.md
  FOLDER_SYSTEM_SIMPLIFICATION_ANALYSIS.md
  IMPROVEMENTS_COMPLETION_SUMMARY.md
  backend/src/services/password_manager/audit.rs
  backend/src/services/password_manager/encryption.rs
  backend/src/services/password_manager/mod.rs
  backend/src/services/password_manager/rotation.rs
  frontend/e2e/utils/backend-health.ts
  scripts/verify-folder-consolidation.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

A19
  .cursor/COMPREHENSIVE_COMPLETION_SUMMARY.md
  .cursor/PENDING_IMPROVEMENTS.md
  .cursor/rules/QUARTERLY_REVIEW.md
  .cursor/rules/RULES_INDEX.md
  ALL_REMAINING_IMPROVEMENTS_COMPLETE.md
  COMPLETE_IMPROVEMENTS_SUMMARY.md
  FINAL_IMPROVEMENTS_COMPLETE.md
  backend/src/lib.rs
  backend/src/services/mod.rs
  backend/src/services/password_manager.rs
  backend/src/services/password_manager/mod.rs
  backend/src/services/password_manager/rotation.rs
Due: prettier --write, cargo fmt --check, cargo clippy -- -D warnings

A20
  .github/workflows/frontend-tests.yml
  DIAGNOSTIC_REPORT.md
  IMPLEMENTATION_STEPS.md
  backend/src/main.rs
  backend/src/services/mod.rs
  backend/src/services/password_manager_utils_dir/audit.rs
  backend/src/services/password_manager_utils_dir/encryption.rs
  backend/src/services/password_manager_utils_dir/mod.rs
  backend/src/services/password_manager_utils_dir/rotation.rs
  frontend/.lighthouserc.js
  frontend/ALL_TODOS_COMPLETED.md
  frontend/AUTHENTICATION_ISSUES_FIXED.md
  frontend/AUTHENTICATION_STATUS.md
  frontend/DIAGNOSTIC_SUMMARY.md
  frontend/FRONTEND_DIAGNOSTIC_FIXES.md
  frontend/NEXT_STEPS_COMPLETION.md
  frontend/NEXT_STEPS_PROPOSAL.md
  frontend/docs/ACCESSIBILITY_GUIDELINES.md
  frontend/docs/CSP_MONITORING.md
  frontend/docs/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/check-bundle-size.js
  frontend/src/components/CustomReports.tsx
  frontend/src/components/layout/UnifiedNavigation.tsx
  frontend/src/config/AppConfig.ts
  frontend/src/main.tsx
  frontend/src/services/apiClient/index.ts
  frontend/src/services/apiClient/utils.ts
  frontend/src/services/monitoring/errorTracking.ts
  frontend/src/services/monitoring/index.ts
  frontend/src/services/monitoring/performance.ts
  frontend/src/services/security/csp.ts
  packages/frontend/package.json
  packages/frontend/src/components/FrenlyAI.tsx
  packages/frontend/src/components/frenly/FrenlyProvider.tsx
  packages/frontend/vite.config.ts
  packages/legacy/app-next/page.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

a21
  .github/workflows/comprehensive-testing.yml
  .github/workflows/frontend-tests.yml
  DIAGNOSTIC_REPORT.md
  FOLDER_SIMPLIFICATION_DEEP_ANALYSIS.md
  QUICK_START.md
  RESTART_GUIDE.md
  docs/features/frenly-ai/FRENLY_AI_COMPREHENSIVE_ANALYSIS.md
  docs/features/frenly-ai/FRENLY_AI_FEATURE_PROPOSALS.md
  docs/features/frenly-ai/FRENLY_AI_QUICK_REFERENCE.md
  frontend/COMPLETE_IMPLEMENTATION_SUMMARY.md
  frontend/FINAL_STATUS.md
  frontend/IMPLEMENTATION_COMPLETE.md
  frontend/e2e/visual.spec.ts-snapshots/analytics-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/dashboard-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/dashboard-mobile-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/dashboard-tablet-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/form-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/login-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/quick-reconciliation-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/settings-chromium-darwin.png
  frontend/e2e/visual.spec.ts-snapshots/users-chromium-darwin.png
  frontend/src/components/FrenlyAI.tsx
  frontend/src/components/frenly/ConversationalInterface.tsx
  frontend/src/services/frenlyAgentService.ts
  frontend/src/utils/conversationStorage.ts
  packages/frontend/.npmrc
  packages/frontend/package.json
  packages/frontend/stats.html
  restart-backend.sh
  restart-frontend.sh
  restart-services.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A22
  FOLDER_SIMPLIFICATION_QUICK_REFERENCE.md
  FOLDER_SIMPLIFICATION_SUMMARY.md
  docs/features/frenly-ai/IMPLEMENTATION_COMPLETE.md
  docs/operations/SERVICE_CONSOLIDATION_ANALYSIS.md
  docs/operations/SERVICE_CONSOLIDATION_QUICK_REFERENCE.md
  frontend/src/components/FrenlyAI.tsx
  frontend/src/components/frenly/ConversationalInterface.tsx
  scripts/consolidate-folders.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A23
  COMPLETE_FIXES_SUMMARY.md
  FINAL_STATUS.md
  FIXES_APPLIED.md
  VERIFICATION_RESULTS.md
  backend/src/main.rs
  docker-compose.optimized.yml
  docs/operations/SERVICE_CONSOLIDATION_COMPLETE.md
  docs/operations/SERVICE_CONSOLIDATION_IMPLEMENTATION.md
  docs/operations/SERVICE_CONSOLIDATION_QUICK_REFERENCE.md
  frontend/src/pages/AuthPage.tsx
  infrastructure/logging/loki-config.yml
  infrastructure/logging/promtail-config.yml
  infrastructure/monitoring/grafana/provisioning/datasources/datasources.yml
  infrastructure/monitoring/prometheus.yml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

A24
  ALL_ISSUES_RESOLVED.md
  COMPLETE_RESOLUTION.md
  GOOGLE_OAUTH_SETUP.md
  frontend/src/pages/AuthPage.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A25
  ALL_WORK_COMPLETE.md
  COMPLETE_STATUS.md
  FINAL_SETUP_COMPLETE.md
  PAGE_AUDIT_SUMMARY.md
  PLAYWRIGHT_AUDIT_COMPLETE.md
  QUICK_FIXES_COMPLETE.md
  QUICK_FIXES_COMPLETED.md
  QUICK_FIXES_IMPLEMENTATION.md
  SERVICES_STARTED.md
  START_BACKEND.sh
  TODOS_COMPLETE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AnalyticsDashboard.tsx
  frontend/src/components/ApiDocumentation.tsx
  frontend/src/components/ApiIntegrationStatus.tsx
  frontend/src/components/ApiTester.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/UserManagement.tsx
  frontend/src/components/accessibility/SkipLinks.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/pages/FileUpload.tsx
  frontend/src/components/pages/NotFound.tsx
  frontend/src/components/pages/Profile.tsx
  frontend/src/components/pages/ProjectCreate.tsx
  frontend/src/components/pages/ProjectDetail.tsx
  frontend/src/components/pages/ProjectEdit.tsx
  frontend/src/components/pages/Settings.tsx
  frontend/src/components/seo/PageMeta.tsx
  frontend/src/components/seo/StructuredData.tsx
  frontend/src/components/seo/index.ts
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/QuickReconciliationWizard.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

A26
  .cursor/mcp.json
  ALL_ISSUES_RESOLVED_FINAL.md
  COMPREHENSIVE_TODO_INVESTIGATION.md
  FINAL_QUICK_FIXES_SUMMARY.md
  MCP_CONFIGURATION_COMPLETE.md
  MCP_VERIFICATION_REPORT.md
  NEXT_STEPS_COMPLETE.md
  ONBOARDING_IMPLEMENTATION_STATUS.md
  OPTIMAL_COMPLETION_STRATEGY.md
  REMAINING_FIXES_COMPLETE.md
  SERVICE_CONFIG_FIX.md
  VERIFICATION_COMPLETE.md
  backend/src/handlers/auth.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/onboarding.rs
  backend/src/main.rs
  backend/src/models/mod.rs
  backend/src/services/error_logging.rs
  frontend/src/App.tsx
  frontend/src/components/AnalyticsDashboard.tsx
  frontend/src/components/ApiDocumentation.tsx
  frontend/src/components/ApiIntegrationStatus.tsx
  frontend/src/components/ApiTester.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/UserManagement.tsx
  frontend/src/components/pages/FileUpload.tsx
  frontend/src/components/pages/NotFound.tsx
  frontend/src/components/pages/Profile.tsx
  frontend/src/components/pages/ProjectCreate.tsx
  frontend/src/components/pages/ProjectDetail.tsx
  frontend/src/components/pages/ProjectEdit.tsx
  frontend/src/components/pages/Settings.tsx
  frontend/src/components/ui/EnhancedFeatureTour.tsx
  frontend/src/components/ui/ErrorBoundary.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/QuickReconciliationWizard.tsx
  frontend/src/pages/ReconciliationPage.tsx
  frontend/src/services/onboardingService.ts
  scripts/validate-mcp-servers.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

A31
  AUTHENTICATION_AUDIT_REPORT.md
  backend/src/auth_service_tests.rs
  backend/src/handlers/auth.rs
  backend/src/middleware/auth.rs
  backend/src/reconciliation_service_tests.rs
  backend/tests/api_endpoint_tests.rs
  backend/tests/service_tests.rs
  frontend/src/components/BasePage.tsx
  frontend/src/components/CollaborativeFeatures.tsx
  frontend/src/components/reconciliation/ConfigureTabContent.tsx
  frontend/src/components/reconciliation/ReconciliationHeader.tsx
  frontend/src/components/reconciliation/ReconciliationTabs.tsx
  frontend/src/components/reconciliation/ResultsTabContent.tsx
  frontend/src/components/reconciliation/RunTabContent.tsx
  frontend/src/components/reconciliation/UploadTabContent.tsx
  frontend/src/orchestration/types.ts
  frontend/src/pages/IngestionPage.tsx
  frontend/src/pages/ReconciliationPage.tsx
  frontend/src/services/backupRecoveryService.ts
  frontend/src/services/errorLoggingTester.ts
  frontend/src/services/errorMappingTester.ts
  frontend/src/services/workflowSyncTester.ts
  frontend/src/test/utils.tsx
  frontend/src/utils/advancedCodeSplitting.ts
  frontend/src/utils/lazyComponents.ts
  frontend/src/utils/security.tsx
  frontend/src/utils/virtualScrolling.tsx
  infrastructure/docker/Dockerfile.backend
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings

A33
  ALL_TODOS_STATUS_SUMMARY.md
  FINAL_TODOS_COMPLETION_REPORT.md
  NEXT_STEPS_PROPOSAL.md
  TEST_COVERAGE_COMPLETION_STATUS.md
  TEST_COVERAGE_PROGRESS.md
  THREE_AGENT_WORK_DIVISION.md
  backend/tests/auth_handler_tests.rs
  backend/tests/data_source_service_tests.rs
  backend/tests/email_service_tests.rs
  backend/tests/project_service_tests.rs
  backend/tests/reconciliation_api_tests.rs
  backend/tests/reconciliation_integration_tests.rs
  backend/tests/user_management_api_tests.rs
  backend/tests/user_service_tests.rs
  frontend/COMPLETE_NEXT_STEPS_SUMMARY.md
  frontend/NEXT_STEPS_COMPLETE.md
  frontend/QUICK_TEST_COMMANDS.sh
  frontend/START_AND_TEST.sh
  frontend/src/services/apiClient/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, cargo fmt --check, cargo clippy -- -D warnings
